<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.persprog.programacao">
<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ac_ActionBar.ActMenuMain" android:label="MenuMain" />
        <activity android:name=".Ac_ActionBar.ActTabListener" android:label="TabListener" />
        <activity android:name=".Ab_Basico.ActBundle" android:label="Bundle" />
        <activity android:name=".Ab_Basico.ActGetBundle" android:label="GetBundle" />
        <activity android:name=".Ad_Layout.ActFrameLayout" android:label="FrameLayout" />
        <activity android:name=".Ad_Layout.ActLinearLayout" android:label="LinearLayout" />
        <activity android:name=".Ad_Layout.ActTableLayout" android:label="TableLayout shrinkColumns" />
        <activity android:name=".Ad_Layout.ActTabelLayout1" android:label="TableLayout strechColumns" />
        <activity android:name=".Ad_Layout.ActGridLayout" android:label="GridLayout" />
        <activity android:name=".Ad_Layout.ActRelativeLayout" android:label="RelativeLayout" />
        <activity android:name=".Ad_Layout.ActScrollView" android:label="ScrollView" />
        <activity android:name=".Ae_View.Frgtextview" android:label="Textview" />
        <activity android:name=".Ae_View.ActAutoComplete" android:label="AutoCompleteTextview" />
        <activity android:name=".Ae_View.ActButton" android:label="imageButton" />
        <activity android:name=".Ae_View.ActCheckBoxToggleButton" android:label="Checkbox e toggleButton" />
        <activity android:name=".Ae_View.ActRadioButton" android:label="RadioButton" />
        <activity android:name=".Ae_View.FrgSpinner" android:label="Spinner" />
        <activity android:name=".Ae_View.FrgDialogProgress" android:label="DialogProgress" />
        <activity android:name=".Ae_View.ActProgressBar" android:label="ProgressBar" />
        <activity android:name=".Ae_View.ActInflater" android:label="Inflater" />
        <activity android:name=".Ae_View.ActListView" android:label="ListView" />
        <activity android:name=".Ae_View.FrgGallery" android:label="Galeria de Fotos" />
        <activity android:name=".Ag_Fragment.ActFragmentPrincipal" android:label="Fragment Tab (Deprecated)" />
        <activity android:name=".Ag_Fragment.ActFragmentViewPager" android:label="Fragment ViewPager" />


    </application>

</manifest>