<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.persprog.programacao">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".cap3.Layout" android:label="Exemplo Layout" />
        <activity android:name=".ca4.Bundle_Exemp" android:label="Exemplo Bundle" />
        <activity android:name=".cap6.ActFrameLayout" android:label="Exemplo FrameLayout" />
        <activity android:name=".cap6.ActLinearLayout" android:label="Exemplo LinearLayout" />
        <activity android:name=".cap6.ActTableLayout" android:label="Exemplo TableLayout shrinkColumns" />
        <activity android:name=".cap6.ActTabelLayout1" android:label="Exemplo TableLayout strechColumns" />
        <activity android:name=".cap6.ActGridLayout" android:label="Exemplo GridLayout" />
        <activity android:name=".cap6.ActRelativeLayout" android:label="Exemplo RelativeLayout" />
        <activity android:name=".cap6.ActScrollView" android:label="Exemplo ScrollView" />

    </application>

</manifest>